# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
develop-eggs/
eggs/
*.egg-info/
.installed.cfg
*.egg

# media
*.key

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Run files
inputs*.json
plots/
!plots/.gitkeep 

# Comparisons with other codes
compare/